<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="nasb"
         name="NASB"
         point="net.todd.biblestudy.reference.common.dbScripts">
      <script
            filename="resources/data.sql">
      </script>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="net.todd.biblestudy.reference.nasb.Startup">
      </startup>
   </extension>

</plugin>
