<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="net.todd.biblestudy.reference.ReferenceViewPart"
            icon="icons/docs.png"
            id="net.todd.biblestudy.reference.common.ReferenceView"
            name="ReferenceView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.todd.biblestudy.reference.GlobalActionSet"
            label="Global Actions"
            visible="true">
         <action
               class="net.todd.biblestudy.reference.OpenReferenceAction"
               icon="icons/docs.png"
               id="net.todd.biblestudy.reference.common.OpenReferenceAction"
               label="Open Reference"
               toolbarPath="main/global"
               tooltip="Open Reference">
         </action>
      </actionSet>
   </extension>
<extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="net.todd.biblestudy.reference.OpenReferenceHandler"
            id="net.todd.biblestudy.reference.openReferenceCommand"
            name="Open Reference">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.todd.biblestudy.reference.openReferenceCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="net.todd.biblestudy.rcp.context"
            sequence="M1+R" />
   </extension>
   <extension
         point="net.todd.biblestudy.db.DataObject">
      <dataObject
            class="net.todd.biblestudy.reference.Verse">
         <sqlFile
               file="resources/data.sql">
         </sqlFile>
      </dataObject>
   </extension>
</plugin>
