<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="net.todd.biblestudy.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Main Perspective"
            class="net.todd.biblestudy.rcp.MainPerspective"
            id="net.todd.biblestudy.MainPerspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="net.todd.biblestudy.rcp.application"
            name="Bible Study Tool">
         <property
               name="windowImages"
               value="icons/biblestudy_16.gif,icons/biblestudy_32.gif">
         </property>
         <property
               name="appName"
               value="Bible Study Tool">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
      </product>
   </extension>
   <extension
         id="global"
         name="Global Actions"
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="net.todd.biblestudy.GlobalActionSet"
            label="Global Actions"
            visible="true">
         <action
               class="net.todd.biblestudy.rcp.actions.ImportNotesAction"
               icon="icons/import.png"
               id="net.todd.biblestudy.rcp.ImportNotes"
               label="Import Notes"
               toolbarPath="main/global">
         </action>
         <action
               class="net.todd.biblestudy.rcp.actions.ExportNotesAction"
               icon="icons/export.png"
               id="net.todd.biblestudy.rcp.ExportNotes"
               label="Export All Notes"
               toolbarPath="main/global">
         </action>
         <action
               class="net.todd.biblestudy.rcp.actions.SaveNoteAction"
               definitionId="org.eclipse.ui.file.save"
               icon="icons/floppy.png"
               id="net.todd.biblestudy.rcp.SaveNoteAction"
               label="Save Note"
               toolbarPath="main/global">
         </action>
         <action
               class="net.todd.biblestudy.rcp.actions.OpenNoteAction"
               definitionId="net.todd.biblestudy.rcp.openNoteCommand"
               icon="icons/folder_open.png"
               id="net.todd.biblestudy.rcp.OpenNoteAction"
               label="Open Note"
               style="push"
               toolbarPath="main/global"
               tooltip="Open Existing Note">
         </action>
         <action
               class="net.todd.biblestudy.rcp.actions.NewNoteAction"
               definitionId="net.todd.biblestudy.rcp.newNoteCommand"
               icon="icons/text_file.png"
               id="net.todd.biblestudy.rcp.NewNoteAction"
               label="Create New Note"
               style="push"
               toolbarPath="main/global"
               tooltip="Create Note New Note">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="net.todd.biblestudy.rcp.NoteView"
            icon="icons/text_file.png"
            id="net.todd.biblestudy.rcp.NoteView"
            name="NoteView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="net.todd.biblestudy.rcp.NoteViewContributions"
            targetID="net.todd.biblestudy.rcp.NoteView">
         <action
               class="net.todd.biblestudy.rcp.actions.DeleteNoteAction"
               icon="icons/delete.png"
               id="net.todd.biblestudy.rcp.action1"
               label="Delete Note"
               style="push"
               toolbarPath="noteAction/delete"
               tooltip="Delete Note">
         </action>
      </viewContribution>
   </extension>
   
   <extension
		point="org.eclipse.ui.contexts">
		<context
			name="%context.editingText.name"
			description="%context.editingText.description"
			id="net.todd.biblestudy.rcp.context"
			parentId="org.eclipse.ui.contexts.window">
		</context>
	</extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.file"
            id="net.todd.biblestudy.rcp.newNoteCommand"
            name="New Note">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            id="net.todd.biblestudy.rcp.openNoteCommand"
            name="Open Note">
      </command>
      <command
            categoryId="org.eclipse.ui.category.file"
            defaultHandler="net.todd.biblestudy.rcp.actions.CloseNoteHandler"
            id="net.todd.biblestudy.rcp.closeNoteCommand"
            name="Close Note">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.todd.biblestudy.rcp.newNoteCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            contextId="net.todd.biblestudy.rcp.context"
            sequence="M1+N" />
      <key
            commandId="net.todd.biblestudy.rcp.openNoteCommand"
            contextId="net.todd.biblestudy.rcp.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="net.todd.biblestudy.rcp.closeNoteCommand"
            contextId="net.todd.biblestudy.rcp.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+W">
      </key>
   </extension>

</plugin>
